<<<<<<< HEAD
<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @article, local: true) do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
=======
<%if @article.errors.any?%>
    <h2>The following errors prevented the edit of this article</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
        
         <li><%=msg%></li>
        
    <% end %>
    </ul>
<% end %>


<%= form_with model: @article do |f| %>

    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %><br>
        <%= f.text_area :description %><br>
    </div>


    <div>
        <%= f.submit %>
    </div>
>>>>>>> fb89942956c387b31bee5e45bd04c0674e56ba61

<% end %>